<div class="mainframe">

  <div class="welcome-container">
    <div class="welcome-text">
      <h2>Алоха!</h2>
      <p>Сейчас ты находишься в шаге от создания своих собственных кастомных носков.</p>
      <p>Все наши носки отшиваются на небольшом производстве в н.Домодедово и каждая пара проходит тщательный контроль
        нашими специалистами!</p>
    </div>
  </div>
</div>
